
 
<div class="card">
  <div class="card-body">
    <p>Trends.</p>
        <% for @p in @posts %>
        <p class="post-content"><a href="@p.content"><%= @p.content %></a></p>    
        <% end %>  
    </div>
 </div>
 